In [156]:
import pandas as pd
import numpy as np

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

## Задание 1. Загрузка данных
Изучить представленный набор данных на основе [описания](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [158]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
    na_values='?',
    usecols=[0, 1, 3, 4, 5, 6, 10, 22],
    names=['surgery', 
           'age', 
           'rectal temperature', 
           'pulse', 
           'respiratory rate', 
           'temperature of extremities', 
           'pain', 
           'outcome']
)
df.head()

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

## Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

### Rectal temperature

In [160]:
"""
У нас совпадает среднее значения и медиана, значит распределение нормальное.
Может найти выбросы через межквартильный размах
"""
print(df['rectal temperature'].mean())
print(df['rectal temperature'].median())

38.16791666666669
38.2

In [161]:
q1 = df['rectal temperature'].quantile(0.25)
q3 = df['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 - (1.5 * iqr)
remove_outliers = df[df['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

/var/folders/ln/l54hjc713kxgxkw6rfxxgyh00000gn/T/ipykernel_65640/401298712.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df[df['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
12,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
31,2.0,1,37.2,108.0,12.0,3.0,2.0,3.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
49,2.0,1,37.2,84.0,48.0,3.0,4.0,2.0
51,1.0,1,37.4,84.0,36.0,1.0,3.0,2.0
70,2.0,1,37.0,60.0,20.0,3.0,3.0,3.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
107,2.0,1,37.3,50.0,32.0,1.0,1.0,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
127,1.0,1,37.4,50.0,32.0,3.0,4.0,1.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
144,1.0,1,37.1,84.0,40.0,3.0,2.0,3.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
200,1.0,1,37.3,48.0,12.0,1.0,3.0,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
228,1.0,1,37.3,90.0,40.0,3.0,5.0,3.0
263,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
277,2.0,1,36.9,50.0,40.0,2.0,1.0,1.0
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [162]:
print(remove_outliers['rectal temperature'].mean())
print(remove_outliers['rectal temperature'].median())

37.19130434782609
37.2

In [163]:
print('Mean')
print(df['rectal temperature'].mean() - remove_outliers['rectal temperature'].mean())
print('Median')
print(df['rectal temperature'].median() - remove_outliers['rectal temperature'].median())

Mean
0.9766123188406013
Median
1.0

In [164]:
"""
Вывод: выбросы по признаку rectal temperature, влиляют на медиану и среднее значение.
"""

'\nВывод: выбросы по признаку rectal temperature, влиляют на медиану и среднее значение.\n'

### Pulse

In [165]:
"""
Распределение ненормальное, найти выбросы через межквартильный размах, тут смысла не имеет,
мы получим те же данные.
В описании данного признака сказанно, что он может находиться в интервале от 20-40, при
этом, если лошадь болеет он может повышаться, а вот до скольки не известно, за край я взял средние значение пульса.
"""
print(df['pulse'].mean())
print(df['pulse'].median())

71.91304347826087
64.0

In [166]:
remove_outliers = df[df['pulse'].between(20, df['pulse'].mean())]

In [167]:
print(remove_outliers['pulse'].mean())
print(remove_outliers['pulse'].median())

51.55696202531646
50.0

In [168]:
"""
Вывод: как мы видим выбросы повлияли на среднее и медиану 
"""

'\nВывод: как мы видим выбросы повлияли на среднее и медиану \n'

### Respiratory rate

In [169]:
"""
Распределение не нормальное.
Я решил действовать следующим образом, в описание признака нам сказанно что диапазон значений от 8 до 10,
но еще там написанно что в данный имеется большой разброс. Данные которые попадают в данный диапазон,
всего 6 записей. Поэтому за верхний предел выброса я взял среднее округленное значение.
"""
print(df['respiratory rate'].mean())
print(df['respiratory rate'].median())

30.417355371900825
24.5

In [170]:
remove_outliers = df[df['respiratory rate'].between(8, np.round(df['respiratory rate'].mean(), 0))]

In [171]:
df['respiratory rate'].mean(),  remove_outliers['respiratory rate'].mean()

(30.417355371900825, 20.425806451612903)

In [172]:
df['respiratory rate'].median(),  remove_outliers['respiratory rate'].median()

(24.5, 20.0)

In [173]:
"""
В данном случае, выбросы повлияли на медиану и среднее значение.
"""

'\nВ данном случае, выбросы повлияли на медиану и среднее значение.\n'

## Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [174]:
"""
Мы видим что по столбцам(surgery, pulse, outcome), процент пропусков довольно мал.
В данном случае их лучше удалить.
"""
df.isna().mean()

surgery                       0.003333
age                           0.000000
rectal temperature            0.200000
pulse                         0.080000
respiratory rate              0.193333
temperature of extremities    0.186667
pain                          0.183333
outcome                       0.003333
dtype: float64

In [175]:
"""
Пропуски удалили.
"""
df.dropna(subset=['surgery', 'pulse', 'outcome'], inplace=True)
df.isna().mean()

surgery                       0.000000
age                           0.000000
rectal temperature            0.152727
pulse                         0.000000
respiratory rate              0.145455
temperature of extremities    0.170909
pain                          0.170909
outcome                       0.000000
dtype: float64

### Rectal temperature

Гипотезы:

    - У разных возростных групп температура отличается
    - Если лошади делали операцию, то среднее значение будет разное.

In [176]:
df.groupby('surgery').agg({'rectal temperature': 'mean'})

         rectal temperature
surgery
1.0               38.125185
2.0               38.190816

In [177]:
df.groupby('age').agg({'rectal temperature': 'mean'})

     rectal temperature
age
1             38.106573
9             38.645000

Мы видим, что в первом случае средняя температура практически не отличается, а во втором случае на 0.5 градуса.

Поэтому, можно сделать заполненить пропуски среднем значением по группам

In [178]:
fill_hourse_data = df.copy()
fill_hourse_data['rectal temperature'] = fill_hourse_data['rectal temperature'] \
    .fillna(df.groupby('age')['rectal temperature'].transform('mean'))

In [179]:
print(df['rectal temperature'].mean(), fill_hourse_data['rectal temperature'].mean())

38.15278969957084 38.14964694835684

Cреднее значение практически не изменилось.

### Respiratory rate

Гипотеза:

    - Среднее значение у разных возростных групп, разное в зависимости от того делали ли им операцию или нет.

In [180]:
fill_hourse_data.groupby(['age', 'surgery']).agg({'respiratory rate': 'mean'})

             respiratory rate
age surgery
1   1.0             30.600000
    2.0             25.344444
9   1.0             59.333333
    2.0             40.400000

Мы выяснили, что это действительно так.

In [181]:
fill_hourse_data['respiratory rate'] = fill_hourse_data['respiratory rate'] \
    .fillna(fill_hourse_data.groupby(['age', 'surgery'])['respiratory rate'].transform('mean'))

In [182]:
fill_hourse_data.groupby(['age', 'surgery']).agg({'respiratory rate': 'mean'})

             respiratory rate
age surgery
1   1.0             30.600000
    2.0             25.344444
9   1.0             59.333333
    2.0             40.400000

Заполнение выполнено корректно.

### Temperature of extremities

In [183]:
fill_hourse_data['temperature of extremities'].value_counts()

3.0    98
1.0    76
2.0    29
4.0    25
Name: temperature of extremities, dtype: int64

По данному признакому я не нашел зависимостей.
Поэтому решил заполнить их модальным значением.

In [185]:
fill_hourse_data['temperature of extremities'] = fill_hourse_data['temperature of extremities'] \
    .fillna(fill_hourse_data['temperature of extremities'].mode()[0])

In [186]:
fill_hourse_data['temperature of extremities'].value_counts()

3.0    145
1.0     76
2.0     29
4.0     25
Name: temperature of extremities, dtype: int64

### Pain

In [187]:
fill_hourse_data['pain'].value_counts()

3.0    65
2.0    57
1.0    37
5.0    35
4.0    34
Name: pain, dtype: int64

Тут я так же не могу определить зависимости, можно заполнить модой.

In [188]:
fill_hourse_data['pain'] = fill_hourse_data['pain'].fillna(fill_hourse_data['pain'].mode()[0])